#container_thongtinchitiet
{
    margin: 50px 0;
    padding: 0 10px;
    min-height: 300px;
}

#hinhanh_thongtin{
    text-align: center;
}

#container_thongtinchitiet #hinhanhsanpham {
    width: 35%;
    float: left;
    margin-right: 20px;
}
#container_thongtinchitiet #hinhanhsanpham img{
    width: 100%;
}


#thongtinchitiet {
    text-align: left;
    width: 60%;
    float: left;
}

#thongtinchitiet p {
    margin-bottom: 25px;
    font-size: 18px;
}

#thongtinchitiet p.title {
    font-weight: bold;
    color: teal;
    font-size: 25px;
}

#thongtinchitiet p span{
    color: #199427;
}

#thongtinchitiet a {
    padding: 15px 25px;
    display: inline-block;
    color: #ffffff;
    background-color: #199427;
}

#thongtinchitiet a:hover {
    background-color: teal;
}


#thongtinsanpham{
    clear: both;
}

.menu-thongtinsanpham > button{
    margin-top: 20px;
    padding: 10px 0;
    width: 30%;
    
    background-color: #199427;
    border: 1px solid #199427;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}

.menu-thongtinsanpham > button:hover{ 
    background-color: #eee;
    color: #199427;
}


.menu-thongtinsanpham > button:focus{ 
    background: #eee;
    color: #199427;
}

#thongtinsanpham p {
    margin-top: 10px; 
    border: 1px solid #199427;
    padding: 1%;
    display: none;
}
